@font-face {
  font-family: JetBrains Mono;
  src: url("./JetBrainsMonoRegular/JetBrainsMono-Regular.woff2") format("woff2");
  src: url("./JetBrainsMonoRegular/JetBrainsMono-Regular.ttf")
    format("truetype");
}
